{% extends "layout.html" %} {% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; margin: 10%;">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class=flashes style="list-style: none;">
  {% for category, message in messages %}
  {% if category=="netErrors" %}
    <li> <h3 style="color:red; font-weight: bold;" > {{ message }} </h3></li>
  {% endif %}
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
<div >
<h1 style="padding: 15px 0">Ajouter un graphe</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input class="btn btn-primary" type=submit value=Confirmer style="background-color: #5f788a;">
</form>
</div>



<div style="margin-top: 50px;">

<h1 style="padding: 15px 0">Transformer un csv en graphe</h1>
<form method=post enctype=multipart/form-data action="/upload_csv">
  <input type=file name=file>
  <input class="btn btn-primary" type=submit value=Confirmer style="background-color: #5f788a;">
</form>
</div>


</div>

{% endblock content %}
