{% extends "layout.html" %} {% block content %}
<div style="display: flex; flex-direction: column; justify-content: center; margin: 10%;">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes style="list-style: none;">
  {% for message in messages %}
    <li> <h3 style="color:red; font-weight: bold;" > {{ message }} </h3></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
<div >
<h1>Ajouter un graphe</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Confirmer>
</form>
</div>



<div style="margin-top: 50px;">

<h1>Transformer un csv en graphe</h1>
<form method=post enctype=multipart/form-data action="/upload_csv">
  <input type=file name=file>
  <input type=submit value=Confirmer>
</form>
</div>


</div>

{% endblock content %}
